<!DOCTYPE html>
<html>
<body>
    <form action ="{{ url_for('form') }}" method="post">
        <input type="checkbox" name="a"> Goals<br>
        <input type="checkbox" name="b"> Assists<br>
        <input type="checkbox" name="c"> Powerplay assists<br>
        <input type="checkbox" name="d"> Powerplay goals<br>
        <input type="checkbox" name="e"> Shots on goal<br>
        <input type="checkbox" name="f"> PIM<br>
        <input type="checkbox" name="g"> Blocks<br>
        <input type="checkbox" name="h"> Hits<br>
        <input type="checkbox" name="i"> Faceoffs won<br>
        <input type="checkbox" name="j"> Save percentage<br>
        <input type="checkbox" name="k"> GAA<br>
        <input type="checkbox" name="l"> Wins<br>
        <input type="checkbox" name="m"> Saves<br>
        <input type="checkbox" name="n"> Shutouts<br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
   <!--<body>-->
      <!--<form action="/result" method="POST">-->
         <!--<p>Model <input type = "number" name ="model"/></p>-->
          <!--<input type="submit" value="Submit"/>-->
      <!--</form>-->
   <!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--{% for table in tables %}-->
            <!--{{titles[loop.index]}}-->
            <!--{{ table|safe }}-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->