<!DOCTYPE html>
<html>
<body>
    <form action ="{{ url_for('form') }}" method="post">
        <input type="checkbox" name="model_selected" value="a"> Goals<br>
        <input type="checkbox" name="model_selected" value="b"> Assists<br>
        <input type="checkbox" name="model_selected" value="c"> Powerplay assists<br>
        <input type="checkbox" name="model_selected" value="d"> Powerplay goals<br>
        <input type="checkbox" name="model_selected" value="e"> Shots on goal<br>
        <input type="checkbox" name="model_selected" value="f"> PIM<br>
        <input type="checkbox" name="model_selected" value="g"> Blocks<br>
        <input type="checkbox" name="model_selected" value="h"> Hits<br>
        <input type="checkbox" name="model_selected" value="i"> Faceoffs won<br>
        <input type="checkbox" name="model_selected" value="j"> Save percentage<br>
        <input type="checkbox" name="model_selected" value="k"> GAA<br>
        <input type="checkbox" name="model_selected" value="l"> Wins<br>
        <input type="checkbox" name="model_selected" value="m"> Saves<br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
   <!--<body>-->
      <!--<form action="/result" method="POST">-->
         <!--<p>Model <input type = "number" name ="model"/></p>-->
          <!--<input type="submit" value="Submit"/>-->
      <!--</form>-->
   <!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--{% for table in tables %}-->
            <!--{{titles[loop.index]}}-->
            <!--{{ table|safe }}-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->